<template>
    <div>
        <message-component
                prop-message = "This data is passed from blade template">
        </message-component>
        <h1>HERE</h1>

        <h1>Vue Router Demo App</h1>

        <p class="text-capitalize">
            <router-link :to="{ name: 'splash' }">splash</router-link> |
            <router-link :to="{ name: 'hello' }">hello world</router-link>
        </p>

        <div class="container">
            <router-view></router-view>

        </div>
    </div>
</template>

<script>
  import MessageComponent from "../components/MessageComponent.vue";

  //Object.keys, Object.values
    //retrieiving something from an object by key is O(1), compared to O(n) if you use searches or filters to find the same data
  const initialState = {
    partnersList: {}, // object with all partners keyed by ID
    currentPartnerId: ``, // a string contining the ID of the current partner.
  };
  export default {
    name: "App",

    data() {
      return {}
    },
    methods: {},
    computed: {},
    components: {
      MessageComponent
    },
    created() {
    },
    mounted() {
    },
  }
</script>

<style scoped>

</style>