<template>
    <h1>hello</h1>
</template>

<script>
  export default {
    name: "Hello",
    data() {
      return {}
    },
    methods: {},
    computed: {},
    created() {
    },
    mounted() {
    },
  }
</script>

<style scoped>

</style>