<template>
    <p>This is the splash</p>
</template>

<script>
  export default {
    name: "Splash",
    data() {
      return {}
    },
    methods: {},
    computed: {},
    created() {
    },
    mounted() {
    },
  }
</script>

<style scoped>

</style>