<template>
    <div>
        <h4>propMessage</h4>
        <h4>{{ propMessage }}</h4>
    </div>

</template>

<script>
  export default {
    name: "MessageComponent",
    data() {
      return {}
    },
    props: ['propMessage'],
    methods: {},
    computed: {},
    created() {
    },
    mounted() {
    },
  }
</script>

<style scoped>

</style>